@import "./abstracts/variables";
@import "./abstracts/utilities";
@import "./abstracts/animations";

@import "./base/typography";
@import "./base/base";

@import "./pages/welcome";
@import "./pages/login";
@import "./pages/players";
@import "./pages/social";
@import "./pages/camera";
@import "./pages/guide";
@import "./pages/score";
@import "./pages/winners";
@import "./pages/prizes";
@import "./pages/terms";
@import "./pages/sharetowin";
@import "./pages/questionOverlay";

@import "./cmpnts/components";

.page .Toastify__toast {
    border-radius: 30px;
    opacity: .85;
    text-align: center;
    font-size: 18px;
}

.page .Toastify__close-button {
    align-self: center;
    margin-right: 10px;
}