*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #A92D1D;
    
}
body {
    background: url(../../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    position: relative;
    min-height: 100vh;
}

.app {
    position: relative;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
}