.img-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    z-index: 2;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    min-width: 150px;
    background: linear-gradient(to right, #C99124 5%, #F6DA67 25%, #F6DA67 80%, #C99124 100%);
    color: $main-red;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease-out;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid rgba($second-red, .6);
        width: calc(100% - 10px);
        height: calc(100% - 8px);
        border-radius: 8px;
        transform: translate(-50%, -50%);
    }

    &:active {
        transform: scale(.97);
    }

    &--fixed {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150%;
        height: 54px;
        line-height: 1;
        padding: 8px 10px;
    }

    &--small {
        min-width: unset;
        font-size: 14px;
        padding: 8px 15px;

        &::before {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }

    &--medium {
        font-size: 20px;
    }

    &__text {
        position: relative;
        font-size: 26px;
        word-break: break-word;
        z-index: 5;
    }
    
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    z-index: 20;
    
    &__logo {
        width: 100px;
    }
}

.menu {
    z-index: 55;
    background-color: #a8161c;
    padding: 5px 0;
    box-shadow: 0 2px 8px rgba(black, 0.3);

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    &__item {
        color: white;
        padding: 6px 12px;
        text-decoration: none;
        transition: all 0.2s;
        outline: none;
        cursor: pointer;

        &:hover,
        &:active {
            color: #ccc;
        }
    }
}

.popup-content.menu-popup-content {
    padding: 0;
    border: none;

    div:first-child {
        display: none;
    }
}

.bounce {
    animation: bounce 2.5s ease-in-out;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: #333;
    color: #ddd;
    font-size: 12px;
    padding: 12px 15px 18px;
}

.ackno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    background-color: #c99124;
    background: linear-gradient(to right, #c99124 5%, #f6da67 25%, #f6da67 80%, #c99124 100%);
    opacity: 0.9;
    max-width: 290px;
    z-index: 20;

     &__inner {
        padding: 30px 10px;
        background-image: url(../../img/bg.png);
    }

    p {
        color: white;
        font-size: 22px;
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
    }
}

#popup-root .ackno-popup-overlay {
    background: rgba(black, 0);

    .popup-content {
        border: none;
        background: none;
        width: 80%;
    }
}

.score {
    &__can-img {
        position: relative;
        margin: 55px 0;
        padding: 5px 0 55px;
        max-width: 280px;

        .img {
            position: relative;
            width: 100%;
            z-index: 5;
        }

        .shade {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            z-index: 2;
        }

        .flame {
            position: absolute;
            z-index: 2;
        }

        .flame-1 {
            width: 80px;
            left: 0;
            bottom: 50%;
            transform: translate(-50%, 50%);
        }

        .flame-2 {
            width: 80px;
            bottom: 50%;
            transform: translate(-50%, 50%) rotateY(180deg);
        }

        .vouchers {
            position: absolute;
            padding: 15px 12px;
            background: linear-gradient(to right, #c99124 5%, #ecd473 25%, #ecd473 80%, #c99124 100%);
            box-shadow: 0 5px 10px rgba(black, 0.2);
            color: $second-red;
            font-weight: 900;
            z-index: 10;
            bottom: 0;
            font-size: 14px;

            &--1 {
                left: 0;
                transform: translate(-20%, -50%) rotate(-8deg);
            }

            &--2 {
                right: 0;
                transform: translate(20%, -50%) rotate(8deg);
            }
        }

        .advert {
            position: absolute;
            background-color: white;
            padding: 5px 10px;
            box-shadow: 0 0 5px rgba(black, 0.2);
            z-index: 5;
            
            &::before {
                content: "";
                position: absolute;
                border: 10px solid transparent;
            }

            &--1 {
                top: 0;
                left: 0;
                transform: translate(-30%, -100%) rotate(-8deg);

                &::before {
                    border-top-color: white;
                    bottom: -50%;
                    left: 50%;
                    transform: skewX(40deg);
                }
            }

            &--2 {
                top: 0;
                right: 0;
                transform: translate(25%, -100%) rotate(8deg);

                &::before {
                    border-top-color: white;
                    bottom: -50%;
                    right: 50%;
                    transform: skewX(-40deg);
                }
            }

            &--3 {
                bottom: -5px;
                left: 0;
                transform: translate(-30%, 80%) rotate(8deg);

                &::before {
                    border-bottom-color: white;
                    top: -50%;
                    left: 50%;
                    transform: skewX(-40deg);
                }
            }

            &--4 {
                bottom: -5px;
                right: 0;
                transform: translate(30%, 80%) rotate(-8deg);

                &::before {
                    border-bottom-color: white;
                    top: -50%;
                    right: 50%;
                    transform: skewX(40deg);
                }
            }

            .inner-text {
                color: $third-red;
                font-size: 11px;
                white-space: nowrap;
                font-weight: 500;
                width: 100%;
                text-align: center;
            }
        }

        .flower {
            position: absolute;
            opacity: 0.8;
            &--1 {
                width: 12px;
                bottom: 0;
                left: 5px;
                transform: translateY(50%);
            }
            &--2 {
                width: 22px;
                top: 0;
                right: 5px;
                transform: translateY(-50%);
            }
        }
    }
}

.temp-imgs {
    position: absolute;
    visibility: hidden;
    z-index: -1;

    .tiger__img {
        width: 5px;
    }
}