.table {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
    &__row {
        display: flex;
        border: 1px solid rgba(white, .4);
        
        &:not(:first-child) {
            border-top: none;
            border-bottom-color: rgba(white, .9);
        }

        &:last-child {
            border-bottom-color: rgba(white, .4);
        }
    }

    &__header {
        background-color: white;
        color: $second-red;
        font-weight: 500;
        border-bottom: none;
        
        .table__cell {
            font-size: 14px;
        }
        
        & > div:not(:last-child) {
            border-right-color: $second-red;
        }
    }

    &__cell {
        flex: 1;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        font-weight: 500;

        &:not(:last-child) {
            border-right: 1px solid rgba(white, 0.6);
        }
    }
}