.camera {
    min-height: 100vh;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    // background-image: url(../../img/photo-3.jpeg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 50% 50%;   
}