.dash {
    &__header {
        color: white;
        margin: 10px 0 10px 15px;
    }
    
    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

.card {
    width: 45%;
    background: white;
    border-radius: 3px;
    margin: 10px 15px;
    padding: 10px 12px;
    box-shadow: 0 2px 8px rgba(black, .3);
    transition: all .2s;
    // cursor: pointer;
    
    // &:hover {
    //     box-shadow: 0 3px 10px rgba(black, .5);
    // }

    &--1 {
        color: blueviolet;
    }

    &--2 {
        color: tomato;
    }

    &--3 {
        color: #F9B114;
    }

    &--4 {
        color: #3399FF;
    }

    &__value {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 8px;
        opacity: .85;   
    }

    &__title {
        font-size: 18px;
        margin-bottom: 5px;
        font-size: 300;
    }
}