.login {
    .img-container {
        margin: -30px 0 20px;
    }
    .main-banner {
        width: 370px;
        z-index: 5;
    }
    &__header {
        color: white;
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;
    }

    .form {
        width: 90%;
        z-index: 5;

        &__header {
            text-transform: uppercase;
            color: transparent;
            background: linear-gradient(to right, #C99124 5%, #F6DA67 25%, #F6DA67 80%, #C99124 100%);
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 900;
            margin-bottom: 20px;
            font-size: 30px;
            text-align: center;
        }

        &__group {
            width: 100%;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &__label {
            flex: 2;
            color: white;
            font-weight: 700;
            margin-right: 10px;

            &--code {
                margin-right: -40px;
            }

            &--phone {
                width: 94px;
                margin-right: 7px;
            }
            
        }

        &__container {
            flex: 5;
            background-color: white;
        }
        
        &__input {
            flex: 5;
            line-height: 1.6;
            font-size: 18px;
            padding: 0 5px;
            font-weight: 500;

            &--phone {
                border: none;
                outline: none;
                padding: 0 5px;
                line-height: 1.6;
                // font-size: 18px;
                font-weight: 500;
            }
        }
        
        &__error {
            color: white;
            font-size: 18px;
        }

        &__btn {
            margin-top: 20px;
        }
    }    
    
    .floating-img {
        position: absolute;
    
        &--1 {
            top: 45px;
            left: 50px;
            width: 30px;
        }
    
        &--2 {
            bottom: 85px;
            right: 130px;
            width: 30px;
        }
    
        &--3 {
            top: 30px;
            right: 10px;
            width: 38px;
        }
    
        &--4 {
            bottom: 185px;
            left: 20px;
            width: 38px;
        }
    
        &--5 {
            bottom: 80px;
            right: 15px;
            width: 65px;
        }
    
        &--6 {
            bottom: 50px;
            left: 25px;
            width: 100px;
        }
    
        &--7 {
            top: 140px;
            right: 5px;
            width: 130px;
        }
    }

    .menu-flags {
        padding-bottom: 0;
        margin-right: 3px;
        background-color: #eee;
    }

    .menu-flags-button {
        padding: 2px 3px;
    }
}


.popup-overlay .popup-content {
    background-color: #292d3e;
    border: 1px solid #464545;
    color: #fff;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.popup-overlay .modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__text {
        font-size: 18px;
    }
}