.players {
    padding-top: 70px;

    .coca-img {
        margin-top: 30px;
        width: 150px;
        z-index: 5;
    }

    &__header {
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 22px;
        margin: 30px 0;
        text-align: center;
        z-index: 5;
    }

    .round-table {
        animation: spin .7s ease-out;
    }
    .row {
        display: flex;
        justify-content: space-between;

        &--1 {
            width: 60%;
        }
        &--2 {
            width: 95%;
        }
        &--3 {
            width: 60%;
        }
    }

    .tiger {
        animation: toPosition .5s ease-out forwards;
        transition: .2s transform ease-out;
        z-index: 5;

        &__img {
            width: 110px;
            transition: .2s transform ease-out;
            
            &:active {
                transform: translate(0, 0) scale(.97);
            }
        }


        &--1 {
            transform: translate(80px, 120px)
        }
        &--2 {
            transform: translate(-72px, 120px)
        }
        &--3 {
            transform: translate(144px, -15px)
        }
        &--4 {
            transform: translate(-140px, -12px)
        }
        &--5 {
            transform: translate(80px, -153px)
        }
        &--6 {
            transform: translate(-70px, -153px)
        }
        
    }

    .floating-img {
        position: absolute;
    
        &--1 {
            top: 85px;
            left: 8px;
            width: 30px;
        }
    
        &--2 {
            bottom: 35px;
            right: 60px;
            width: 30px;
        }
    
        &--3 {
            bottom: 160px;
            right: 14px;
            width: 45px;
        }
    
        &--4 {
            bottom: 35px;
            right: 150px;
            width: 58px;
        }
    
        &--5 {
            bottom: 65px;
            left: 10px;
            width: 100px;
        }
    
        &--6 {
            top: 140px;
            right: 10px;
            width: 65px;
        }
    }
}