.prizes {
    padding: 0 14px;

    &__header {
        // display: flex;
        color: white;

        .dropcap {
            float: left;
            font-size: 75px;
            line-height: 60px;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
        }

        .text {
            font-weight: 600;
            font-size: 18px;
            max-width: 360px;
        }
    }

    &__sub-header {
        margin: 25px 0;
        color: white;
        font-weight: 600;
        font-size: 14px;
    }
}