.welcome {
    .container {
        margin-top: -30px;
    }
    .main-banner {
        width: 370px;
    }
    &__header {
        color: white;
        font-size: 24px;
        margin-bottom: 25px;
    }
    &__text {
        color: white;
        font-size: 22px;
        font-weight: 600;
        margin: 25px 0 20px;
        text-align: center;
        max-width: 340px;
    }
    .floating-img {
        position: absolute;
        z-index: -1;
    
        &--1 {
            top: 60px;
            left: 0;
            width: 90px;
        }
    
        &--2 {
            top: 130px;
            left: 120px;
            width: 30px;
        }
    
        &--3 {
            top: 35px;
            right: 60px;
            width: 58px;
        }
    
        &--4 {
            bottom: 55px;
            left: 70px;
            width: 58px;
        }
    
        &--5 {
            bottom: 170px;
            right: 30px;
            width: 90px;
        }
    
        &--6 {
            bottom: 80px;
            right: 30px;
            width: 40px;
        }
    
        &--7 {
            bottom: 200px;
            left: 5px;
            width: 150px;
        }
    
        &--8 {
            top: 140px;
            right: 5px;
            width: 130px;
        }
    }
}

.family_text{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-top: -54px;
}